################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BramhaMediTech_HMS_Updated/.vs/BramhaMediTech_HMS_Updated/CopilotIndices/17.12.38.29086
/BramhaMediTech_HMS_Updated/.vs/BramhaMediTech_HMS_Updated/FileContentIndex
/BramhaMediTech_HMS_Updated/.vs/BramhaMediTech_HMS_Updated/v17/.suo
/BramhaMediTech_HMS_Updated/.vs/BramhaMediTech_HMS_Updated/v17/fileList.bin
/BramhaMediTech_HMS_Updated/.vs/BramhaMediTech_HMS_Updated/config/applicationhost.config
/BramhaMediTech_HMS_Updated/.vs/BramhaMediTech_HMS_Updated/v17/DocumentLayout.backup.json
/BramhaMediTech_HMS_Updated/.vs/BramhaMediTech_HMS_Updated/v17/DocumentLayout.json
/BramhaMediTech_HMS_Updated/.vs/BramhaMediTech_HMS_Updated/v17/HierarchyCache.v1.txt
/BramhaMediTech_HMS_Updated/Print_Report/exported.pdf
/.vs/HMS_Sachin_Updated/v16/.suo
