################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BramhaMediTech_HMS_Updated/.vs/BramhaMediTech_HMS_Updated/CopilotIndices/17.12.38.29086
/BramhaMediTech_HMS_Updated/.vs/BramhaMediTech_HMS_Updated/FileContentIndex
/BramhaMediTech_HMS_Updated/.vs/BramhaMediTech_HMS_Updated/v17/.suo
/BramhaMediTech_HMS_Updated/.vs/BramhaMediTech_HMS_Updated/v17/fileList.bin
