<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="LogOutURLAll" value="login.aspx"/>
    <add key="ChangePassword" value="ChangePassword.aspx"/>
    <add key="MainHome" value="Home.aspx"/>
    <add key="compInitials" value="Phi"/>
    <add key="UserID" value="sa"/>
    <add key="Password" value="XXX"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <sessionState timeout="1200"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
    </compilation>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB"/>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <!--<httpRuntime requestValidationMode="2.0"/>-->
    <pages validateRequest="false"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <httpRuntime executionTimeout="3600" maxRequestLength="102400"
    appRequestQueueLimit="100" requestValidationMode="2.0"
    requestLengthDiskThreshold="10024000"/>
  </system.web>
  <connectionStrings>
    <add name="PathologyConn" connectionString="Data Source=DESKTOP-7NRV9F2\SQL2017;Initial Catalog=Laboratory_Woodland;Persist Security Info=True;User ID=sa;Password=lab@2017" providerName="System.Data.SqlClient"/>
    <add name="RadiologyConn1" connectionString="Data Source=HIMS;Initial Catalog=Radiology;Persist Security Info=True;User ID=sa;Password=lab@2017" providerName="System.Data.SqlClient"/>
    <add name="MedicalConn" connectionString="Data Source=DESKTOP-7NRV9F2\SQL2017;Initial Catalog=Laboratory_Woodland;Persist Security Info=True;User ID=sa;Password=lab@2017" providerName="System.Data.SqlClient"/>
    <add name="RadiologyConn" connectionString="Data Source=DESKTOP-7NRV9F2\SQL2017;Initial Catalog=Laboratory_Woodland;Persist Security Info=True;User ID=sa;Password=lab@2017" providerName="System.Data.SqlClient"/>

    <add name="CardiologyConn" connectionString="Data Source=DESKTOP-7NRV9F2\SQL2017;Initial Catalog=Cardiology;Persist Security Info=True;User ID=sa;Password=lab@2017" providerName="System.Data.SqlClient"/>
    <add name="MedicalConn1" connectionString="Data Source=190.108.200.84;Initial Catalog=Laboratory;Persist Security Info=True;User ID=sa;Password=sbirla@2018" providerName="System.Data.SqlClient"/>
    <!--<add name="constr" connectionString="Data Source=JUST1\SQLEXPRESS;Initial Catalog=UKInt15_09_2020;Persist Security Info=True;User ID=sa;Password=lab@2017" providerName="System.Data.SqlClient"/>-->
    <add name="constr" connectionString="Data Source=DESKTOP-7NRV9F2\SQL2017;Initial Catalog=Inventory_new;Persist Security Info=True;User ID=sa;Password=lab@2017" providerName="System.Data.SqlClient"/>
    <add name="constr1" connectionString="Data Source=190.108.200.84;Initial Catalog=Inventory_new;Persist Security Info=True;User ID=sa;Password=lab@2017" providerName="System.Data.SqlClient"/>

	  <add name="DBHospital2" connectionString="Data Source=EC2AMAZ-PKOE937;Initial Catalog=HMS_New;Persist Security Info=True;User ID=sa;Password=sqllocal@2025" providerName="System.Data.SqlClient"/>
	  <add name="DBHospital0" connectionString="Data Source=EC2AMAZ-PKOE937;Initial Catalog=HMS_NEW;Persist Security Info=True;User ID=sa;Password=sqllocal@2025" providerName="System.Data.SqlClient"/>
	  <add name="DBHospital1" connectionString="Data Source=EC2AMAZ-PKOE937;Initial Catalog=HMS_NEW;Persist Security Info=True;User ID=sa;Password=sqllocal@2025" providerName="System.Data.SqlClient"/>
	  <add name="DBHospital" connectionString="Data Source=EC2AMAZ-PKOE937;Initial Catalog=HMS_NEW;Persist Security Info=True;User ID=sa;Password=sqllocal@2025" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>

        <!-- 3GB Files / in byte (3072*1024*1024) -->
        <requestLimits maxAllowedContentLength="3221225472" />

      </requestFiltering>
    </security>
  </system.webServer>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
</configuration>